.side {
    width: 500px;
}

.container {
    display: flex;
}

.eventbtns {
    margin: 1px;
}

.staticModal {
    height: 500px;
    overflow: scroll;
}

.NPCimage {
    width: 150px;
    height: 150px;
}

.center {
    display: flex;
    justify-content: center;
}

.sideQuestBtnSpace {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.sideQuestBtns {
    margin: 2px;
}

.setbackContainer {
    display: flex;
    justify-content: center;
}

.setBackItem {
    align-self: start;
    align-content: center;
    margin: 10px;
    width: 300px;
}

.setBackItemchild {
    margin: 10px;
}
