.mainques {
    padding-top: 10px;
    padding-left: 10px;
}

.btnspace {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.btns {
    margin: 10px;
}

.roomSpace {
    padding: 10px;
    text-align:center;
    display: block;

}

.roomBtns {
    margin: 2px;
    display: inline-block;
}

.dropDownLists {
    margin-left: 5px;
}

.smallCaro {
    /* height: 150px; */
}