.mainques {
    padding-top: 10px;
    padding-left: 10px;
}

.btnspace {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.btns {
    margin: 10px;
}

.dropDownSpace {
    margin: 5px;
}

.actBtnSpace {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.actBtns {
    margin: 2px;
}

.sideQuestBtnSpace {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.sideQuestBtns {
    margin: 2px;
}

.adventureBtns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dunTypeBtns {
    margin: 5px;
}

.dualDrop {
    display: flex;
}