.mainques {
    padding-top: 10px;
    padding-left: 10px;
}

.btnspace {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.btns {
    margin: 10px;
}

.partyBtnSpace {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.prtyBtns {
    margin: 2px;
}

.partyFormSpace {
    margin: 5px;
}

.addSpace {
    margin: 4px;
}

.saveBtnSpace {
    display: inline-block;
    margin: 20px;
}

.forms {
    text-align: center;
}

.saveBtn {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.someSpace {
    margin-left: 5px;
}