p {
    margin: 5px;
  }

.btnspace {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.centeredItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tags {
  border: solid 1px rgb(182, 177, 177);
  padding: 10px;
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 300px;
}

.grouping {
  border: solid 1px rgb(182, 177, 177);
  padding: 10px;
  margin: 5px;
}

.playerCards {
  border: solid 1px rgb(182, 177, 177);
  margin: 5px;
  width: 300px;
}

.cards {
  display: flex;
  flex-flow: column wrap;
  padding: 10px;
  margin: 5px;
}

/* CUSTOM CARD */
.roundBtn {
  border-radius: 100%;
  width: 40px;
  z-index: 5;
  margin-top: -20px;
  margin-left: 110px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.6);
}

.dungeonImage {
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/8b88c10c-a190-46dc-b4f3-eeca31d5b6e3/d4q6895-d69d7aa0-fe93-43ac-8945-91221171da61.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvOGI4OGMxMGMtYTE5MC00NmRjLWI0ZjMtZWVjYTMxZDViNmUzXC9kNHE2ODk1LWQ2OWQ3YWEwLWZlOTMtNDNhYy04OTQ1LTkxMjIxMTcxZGE2MS5qcGcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.nIFGvqU3gg5_aYp7dASowlwEAe02zoCttKMiCHBRLVk");
  width: 200px;
}

.eventImage {
  background-image: url("https://images.theconversation.com/files/152548/original/image-20170112-16521-5iwg58.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=1200.0&fit=crop");
  width: 200px;
  background-position: center;
  background-size: 300px;
}

.centerData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sideQuestTableItem {
  border: solid 1px rgb(182, 177, 177);
  margin: 5px;
  padding: 5px;
}

.monsterSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 300px;
}

.monsterItem {
  margin: 2px;
  padding: 3px;
  background-color: rgba(205, 213, 219, 0.616);
  box-shadow: inset 10px -10px 25px rgba(77, 54, 139, 0.74);
  border-radius: 20%;
}

.setBackItem {
  align-self: start;
  align-content: center;
  margin: 10px;
  width: 300px;
}

.main {
  border: solid rgb(63, 156, 243) 1px;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.logoSpace {
  font-size: 50px;
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 10px;
}

.subTitle {
  font-size: 25px;
  border-bottom: rgb(198, 157, 252) 1px solid;
  width: 400px;
  margin: 5px;
}

.infoSection {
  background-color: rgba(198, 157, 252, 0.514);
  width: 400px;
  text-align: center;
  padding: 3px;
  border-left: 10px solid rgb(198, 157, 252);
}

.subSectionTitle {
  font-size: 18px;
  border-bottom: rgb(198, 157, 252) 1px solid;
  width: 300px;
  margin: 5px;
}

.roomSpace {
  padding: 10px;
  text-align: center;
  display: block;
}

.footer {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #2d728f;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.color {
  background-color: #d9cddf;
  width: 500px;
  padding-bottom: 30px;
  padding-top: 30px;
  border: none;
}
